/* font-weight */

fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #111;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-breadcrumb {
	margin-top: 3.125rem;
}

.l-contact-top {
	margin-top: 7.5rem;
}

.l-content-top {
	margin-top: 6.9375rem;
}

.l-footer-top {
	margin-top: 3.1875rem;
}

.l-header {
	left: 0;
	position: fixed;
	top: 0;
	z-index: 99999;
}

.l-inner {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-link-position {
	display: block;
	position: relative;
	top: -3.125rem;
}

.l-news-archive {
	margin-top: 4.375rem;
}

.l-news-top {
	margin-top: 1.5rem;
}

.l-single {
	margin-top: 3.875rem;
}

.c-bg-line01 {
	display: block;
	position: relative;
}

.c-bg-line01::before {
	background-color: #F9F871;
	content: "";
	display: block;
	height: 0.0625rem;
	left: 0;
	position: absolute;
	top: 21.5625rem;
	transform: skewY(61.09deg);
	width: 100%;
}

.c-bg-line02 {
	display: block;
	position: relative;
}

.c-bg-line02::before {
	background-color: #F9F871;
	content: "";
	display: block;
	height: 0.0625rem;
	left: 0;
	position: absolute;
	top: 5.625rem;
	transform: skewY(105.05deg);
	width: 100%;
}

.c-btn-all {
	background-color: gray;
	border: 0.0625rem solid white;
	color: #fff;
	display: inline-block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	max-width: 20.9375rem;
	padding: 0.5625rem 0rem;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.c-btn-all::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s ease-in;
	width: 0;
	z-index: -1;
}

.c-btn-all:hover {
	color: #333;
}

.c-btn-all:hover::after {
	left: 0;
	width: 100%;
}

.c-btn-all:active {
	top: 2px;
}

.c-btn-contact {
	background-color: #333;
	border: 0.0625rem solid #fff;
	color: #fff;
	display: inline-block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.02em;
	max-width: 20.9375rem;
	padding: 0.5625rem 0rem;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.c-btn-contact::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s ease-in;
	width: 0;
	z-index: -1;
}

.c-btn-contact:hover {
	color: #333;
}

.c-btn-contact:hover::after {
	left: 0;
	width: 100%;
}

.c-btn-more {
	background-color: #333;
	border: 0.0625rem solid #fff;
	color: #fff;
	display: inline-block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	max-width: 20.9375rem;
	padding: 0.5625rem 0rem;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.c-btn-more::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s ease-in;
	width: 0;
	z-index: -1;
}

.c-btn-more:hover {
	color: #333;
}

.c-btn-more:hover::after {
	left: 0;
	width: 100%;
}

.c-btn-more:active {
	top: 2px;
}

.c-card-new::before {
	background-color: #FFBA6A;
	border-radius: 50%;
	color: #333;
	content: "New";
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	height: 3.75rem;
	left: -0.9375rem;
	line-height: 3.75rem;
	position: absolute;
	text-align: center;
	top: -1rem;
	width: 3.75rem;
	z-index: 99;
}

.c-date-blog {
	color: inherit;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.0625rem;
	line-height: 1.85em;
}

.c-date {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0;
}

.c-hamburger {
	background: transparent;
	border: none;
	z-index: 9999;
}

.c-hamburger span {
	background: #fff;
	border-radius: 1px;
	display: block;
	height: 2px;
	position: relative;
	transition: ease .3s;
	width: 24px;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin: 4px 0;
}

.c-hamburger span:nth-child(3) {
	top: 0;
}

.c-hamburger.is-open span:nth-child(1) {
	top: 5px;
	transform: rotate(45deg);
}

.c-hamburger.is-open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.is-open span:nth-child(3) {
	top: -7px;
	transform: rotate(-45deg);
}

.c-img-link {
	position: relative;
	width: 50%;
}

.c-img-link__wrapper {
	overflow: hidden;
	padding-top: calc((168 / 188) * 100%);
	position: relative;
}

.c-img-link__wrapper a {
	color: #fff;
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	left: 50%;
	letter-spacing: 0.125rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: ease .3s;
	width: 100%;
}

.c-img-link__wrapper a:after {
	background-color: #fff;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: .3s;
	width: 100%;
	z-index: 1;
}

.c-img-link__wrapper a:hover::after {
	opacity: 0.6;
}

.c-img-link__text {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.c-label-card-l {
	background-color: #111;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.2em;
	padding: 0.5rem 1.25rem;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

.c-label-card-m {
	background-color: #FFEA2E;
	color: #000;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.0625rem;
	padding: 0.125rem 0.25rem;
	text-align: left;
}

.c-label {
	border: 0.0625rem solid #fff;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0;
	padding: 0.3125rem 1.375rem;
	text-align: center;
}

.c-logo {
	position: relative;
	width: 4.375rem;
	z-index: 9999;
}

.c-logo__link img {
	display: block;
}

.c-map__iframe {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-map__iframe::after {
	content: "";
	display: block;
	padding-top: calc((300 / 375 ) * 100%);
}

.c-map__iframe iframe {
	height: 175%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-top-btn {
	align-items: center;
	background-color: #fff;
	display: flex;
	height: 2.8125rem;
	justify-content: center;
	transition: .3s;
	width: 2.8125rem;
}

.c-top-btn:hover {
	background-color: #333;
}

.c-top-btn::after {
	border-right: 0.125rem solid #333;
	border-top: 0.125rem solid #333;
	content: "";
	display: block;
	height: 1.0625rem;
	transform: translateY(6px) rotate(-45deg);
	transition: .3s;
	width: 1.0625rem;
}

.c-top-btn:hover:after {
	border-right: 0.125rem solid #fff;
	border-top: 0.125rem solid #fff;
}

.c-wp-pagenavi--yellow {
	clear: both;
	text-align: center;
}

.c-wp-pagenavi--yellow a,
.c-wp-pagenavi--yellow span {
	background-color: transparent;
	border: 0.0625rem solid #fff;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	margin-left: 1rem;
	position: relative;
	text-transform: uppercase;
	transition: 0.3s;
	z-index: 0;
}

.c-wp-pagenavi--yellow a:hover,
.c-wp-pagenavi--yellow a:focus,
.c-wp-pagenavi--yellow span:hover,
.c-wp-pagenavi--yellow span:focus {
	background-color: #F9F871;
	border: 0.0625rem solid #F9F871;
	color: #333;
}

.c-wp-pagenavi--yellow span.current {
	background-color: #fff;
	color: #333;
}

.c-wp-pagenavi--yellow a.previouspostslink,
.c-wp-pagenavi--yellow a.nextpostslink {
	margin: 0 1.5rem;
	padding: 0 0.8125rem;
}

.c-wp-pagenavi--yellow a.page {
	padding: 0 0.5rem;
}

.c-wp-pagenavi--yellow span.current {
	padding: 0 0.5rem;
}

.c-wp-pagenavi {
	clear: both;
	text-align: center;
}

.c-wp-pagenavi a,
.c-wp-pagenavi span {
	background-color: transparent;
	border: 0.0625rem solid #fff;
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	margin-left: 1rem;
	position: relative;
	text-transform: uppercase;
	transition: 0.3s;
	z-index: 0;
}

.c-wp-pagenavi a:hover,
.c-wp-pagenavi a:focus,
.c-wp-pagenavi span:hover,
.c-wp-pagenavi span:focus {
	background-color: #fff;
	border: 0.0625rem solid #fff;
	color: #333;
}

.c-wp-pagenavi span.current {
	background-color: #fff;
	border: 0.0625rem solid #fff;
	color: #333;
}

.c-wp-pagenavi a.page {
	padding: 0 0.5rem;
}

.c-wp-pagenavi span.current {
	padding: 0 0.5rem;
}

.c-wp-pagenavi a.previouspostslink,
.c-wp-pagenavi a.nextpostslink {
	padding: 0 0.8125rem;
}

.c-wp-pagenavi a.previouspostslink {
	margin: 0 1.5rem 0 0;
}

.c-wp-pagenavi a.nextpostslink {
	margin: 0 0 0 1.5rem;
}

.c-wp-pagenavi a.archive {
	margin: 0 1.5rem;
	padding: 0 1.125rem;
}

.p-page-404__wrapper {
	padding-bottom: 6.875rem;
	padding-top: 8.125rem;
	text-align: center;
	width: 100%;
}

.p-page-404__title {
	color: #FFEA2E;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
	opacity: 0.3;
}

.p-page-404__text {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	margin-top: 5rem;
}

.p-page-404__btn {
	margin-top: 5rem;
}

.p-archive-blog-mv {
	background-image: url(../img/archive-blog/archive-blog-mv-sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.p-archive-blog__contents {
	margin-top: 4.3125rem;
}

.p-archive-blog__content {
	margin-top: 2.3125rem;
}

.p-archive-news-mv {
	background-image: url(../img/archive-news/archive-news-mv-sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.p-archive-news {
	width: 100%;
}

.p-archive-news__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 57.75rem;
	padding: 0 20px;
	width: 100%;
}

.p-archive-works-mv {
	background-image: url(../img/archive-works/archive-works-mv-sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.p-archive-works__contents {
	margin-top: 4.3125rem;
}

.p-archive-works__content {
	margin-top: 2.3125rem;
	width: 100%;
}

.p-breadcrumb {
	color: #fff;
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 0;
	width: 100%;
}

.p-breadcrumb__body span + .p-breadcrumb__body span {
	padding: 0 0.3125rem;
}

.p-breadcrumb__body ol {
	display: flex;
	width: 100%;
}

.p-breadcrumb__body li:nth-child(1)::after,
.p-breadcrumb__body li:nth-child(2)::after {
	content: '>';
	padding: 0 0.3125rem;
}

.p-card-large {
	color: #fff;
	cursor: pointer;
	display: block;
	transition: .3s;
}

.p-card-large__img {
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	width: 100%;
	width: calc(100% + 40px);
}

.p-card-large__img::before {
	content: "";
	display: block;
	padding-top: calc((249 / 375 ) * 100%);
}

.p-card-large__img img {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-card-large__body {
	text-align: center;
}

.p-card-large__title {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 0.02em;
	margin-top: 1.5rem;
}

.p-card-medium {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	display: block;
	display: flex;
	flex-direction: column;
	transition: .3s;
}

.p-card-medium:hover {
	background-color: #333;
	color: #fff;
}

.p-card-medium__img {
	padding-top: calc((233 / 350) * 100%);
	position: relative;
}

.p-card-medium__img img {
	-o-object-fit: cover;
	display: block;
	height: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-card-medium__body {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	padding: 0.125rem 1.4375rem 0rem;
}

.p-card-medium__title {
	font-size: 1.125rem;
	line-height: 2.0;
}

.p-card-medium__excerpt {
	font-size: 0.875rem;
	line-height: 2.0;
}

.p-card-medium__info {
	align-items: center;
	display: flex;
	margin-top: auto;
	padding: 0.25rem 1.4375rem 1rem;
}

.p-card-medium__date {
	margin-left: auto;
}

.p-cards-2 {
	width: 100%;
}

.p-cards-2__item {
	margin: 0 auto;
	max-width: 32.8125rem;
	width: 100%;
}

.p-cards-2__item + .p-cards-2__item {
	margin-top: 3rem;
}

.p-cards-3 {
	width: 100%;
}

.p-cards-3__item {
	margin: 0 auto;
	max-width: 33.75rem;
	position: relative;
	width: 100%;
}

.p-cards-3__item + .p-cards-3__item {
	margin-top: 1.5rem;
}

.p-category-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.p-category-list .current {
	background-color: #fff;
	color: #333;
}

.p-category-list__item {
	color: #fff;
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.0625rem;
	padding: 0.1875rem 0.5rem;
	text-transform: uppercase;
}

.p-category-list__item + .p-category-list__item {
	margin-left: 0.5rem;
}

.p-category-list__item a {
	display: block;
}

.p-company-info__block {
	align-items: top;
	border-bottom: 1px solid #fff;
	color: #fff;
	display: flex;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.8125rem;
	font-weight: 300;
	letter-spacing: 0;
	padding: 1.0625rem 0 1.1875rem;
}

.p-company-info__head {
	line-height: 1.615;
	max-width: 4.375rem;
	padding-left: 0.3125rem;
	width: 100%;
}

.p-company-info__description {
	line-height: 1.846;
	margin-left: 3.5625rem;
	max-width: 58.9375rem;
	width: 100%;
}

.p-contact {
	background-color: #333;
	padding-bottom: 4rem;
	padding-top: 2.1875rem;
	width: 100%;
}

.p-contact__header .p-section-head__title-ja {
	padding-bottom: 0rem;
	padding-top: 2.9375rem;
}

.p-contact__header .p-section-head__title-en {
	bottom: 20%;
}

.p-contact__content p {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	margin-top: 1.125rem;
	text-align: start;
}

.p-contact__btn {
	margin-top: 2.75rem;
	text-align: center;
}

.p-content__header {
	width: 100%;
}

.p-content__contents {
	width: 100%;
}

.p-content__block {
	display: flex;
	width: 100%;
}

.p-footer {
	width: 100%;
}

.p-footer__inner {
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

.p-footer__logo {
	margin: 0 auto;
	width: 4.375rem;
}

.p-footer__copyright {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.6875rem;
	font-weight: 300;
	letter-spacing: 0.075rem;
	margin-bottom: 3.9375rem;
	margin-top: 1.5625rem;
	text-align: center;
}

.p-header {
	background-color: #111;
	height: 3.125rem;
	width: 100%;
}

.p-header.bg-opacity {
	background-color: rgba(17, 17, 17, 0.5);
}

.p-header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 82rem;
	padding: 0 20px;
	width: 100%;
	z-index: 99999;
}

.p-header__drawer {
	height: inherit;
	padding: 0;
}

.p-hover--underline:hover:hover {
	text-decoration: underline;
}

.p-hover--yellow:hover {
	color: #F9F871;
}

.p-media {
	margin: 0 auto;
	max-width: 31.875rem;
	width: 100%;
}

.p-media__img {
	margin-left: -20px;
	margin-right: -20px;
	max-width: 34.375rem;
	position: relative;
	width: 100%;
	width: calc(100% + 40px);
}

.p-media__img::before {
	content: "";
	display: block;
	padding-top: calc((249 / 375 ) * 100%);
}

.p-media__img img {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-media__body {
	margin: 0 auto;
	max-width: 31.875rem;
	width: 100%;
}

.p-media__title {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	margin-top: 1.5rem;
	text-align: center;
}

.p-media__text {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	margin-top: 1.5rem;
}

/* メインビューのSwiperのcss */

.swiper-slide-active .p-mv-slide-img,
.swiper-slide-duplicate-active .p-mv-slide-img,
.swiper-slide-prev .p-mv-slide-img {
	-webkit-animation: zoomUp 10s linear 0s 1 normal both;
	animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper .p-mv-slide-img {
	height: inherit;
	width: 100%;
}

.swiper .p-mv-slide-img img {
	-o-object-position: 50% 50%;
	-o-object-fit: cover;
	display: block;
	height: inherit;
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
}

.p-mv {
	height: 205.33333vw;
	position: relative;
	width: 100%;
}

.p-mv__container {
	height: inherit;
	overflow: hidden;
	width: 100%;
}

.p-mv__container::after {
	background-color: rgba(17, 17, 17, 0.2);
	content: "";
	height: inherit;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-mv__text {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 700;
	left: 50%;
	letter-spacing: 0.03125rem;
	line-height: 1.0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 5;
}

.p-mv__title {
	display: block;
	font-size: 1.75rem;
}

.p-mv__sub-title {
	display: block;
	font-size: 1.25rem;
	margin-top: 1.5rem;
}

.p-news {
	width: 100%;
}

.p-news__inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 69.125rem;
	padding: 0 20px;
	width: 100%;
}

.p-news__btn {
	margin-top: 1.875rem;
	padding: 0;
	text-align: center;
}

.p-page-content-mv {
	background-image: url(../img/page-content/page-content-mv-sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.p-page-content-top {
	margin-top: 3.5625rem;
}

.p-page-content__head {
	margin: 0 auto;
	max-width: 35.5rem;
	width: 100%;
}

.p-page-content__title {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	text-align: center;
}

.p-page-content__text {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	margin-top: 1.5rem;
}

.p-page-content__contents {
	margin-top: 5rem;
}

.p-page-content__item {
	margin: 0 auto;
}

.p-page-content__item + .p-page-content__item {
	margin-top: 3rem;
}

.p-page-overview-mv {
	background-image: url(../img/page-overview/page-overview-mv-sp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.p-page-overview__info {
	margin-top: 4.375rem;
}

.p-page-overview__map {
	margin-top: 7.5rem;
}

.p-page-top-scroll__btn {
	bottom: 2.75rem;
	position: fixed;
	right: 1.3125rem;
	z-index: 99999;
}

.p-pagenation {
	margin-top: 5rem;
	width: 100%;
}

.p-pagenation__content {
	display: flex;
	justify-content: center;
}

.p-pc-footer-nav {
	display: none;
}

.p-pc-footer-nav__items {
	align-items: center;
	display: flex;
	height: 3.125rem;
}

.p-pc-footer-nav__item {
	height: inherit;
}

.p-pc-footer-nav__item:last-child a {
	margin-right: 1rem;
}

.p-pc-footer-nav__item a {
	align-items: center;
	color: #fff;
	display: flex;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	height: inherit;
	justify-content: center;
	letter-spacing: 0.125rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}

.p-pc-footer-nav__item a::after {
	background: #FFEA2E;
	bottom: 0rem;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: .3s;
	width: 0;
}

.p-pc-footer-nav__item a:hover:after {
	width: calc(100% - 2rem);
}

.p-pc-global-nav {
	display: none;
	height: inherit;
}

.p-pc-global-nav__items {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-pc-global-nav__item {
	height: inherit;
}

.p-pc-global-nav__item a {
	align-items: center;
	color: #fff;
	display: flex;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	height: inherit;
	justify-content: center;
	letter-spacing: 0.125rem;
	padding: 0 1rem;
	position: relative;
}

.p-pc-global-nav__item a::after {
	background: #FFEA2E;
	bottom: 0.5rem;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: .3s;
	width: 0;
}

.p-pc-global-nav__item a:hover:after {
	width: calc(100% - 2rem);
}

.p-pc-global-nav__item.p-pc-global-nav__item--white a {
	background-color: #fff;
	color: #333;
	margin-left: 1rem;
	padding: 0 2rem;
}

.p-pc-global-nav__item.p-pc-global-nav__item--white a:hover {
	background-color: #333;
	color: #fff;
}

.p-post-head {
	align-items: center;
	display: flex;
	width: 100%;
}

.p-post-head__label {
	margin-left: 1.8125rem;
}

.p-post {
	width: 100%;
}

.p-post__body {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0rem;
	margin: 0;
	margin-top: 0.625rem;
	max-width: 35.75rem;
}

.p-post__body a {
	display: block;
}

.p-posts__item + .p-posts__item {
	margin-top: 2rem;
}

.p-section-head {
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

.p-section-head__title-en {
	color: #F9F871;
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	line-height: 0.9;
	margin-bottom: -3.5625rem;
	opacity: 0.2;
	text-align: center;
}

.p-section-head__title-ja {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	padding-bottom: 3rem;
	padding-top: 3rem;
	text-align: center;
}

.p-single-works__contents {
	margin-top: 4.3125rem;
}

.p-single-works__mainbox {
	margin: 4.6875rem auto 0;
	max-width: 49.9375rem;
	width: 100%;
}

.p-single-works__header {
	margin: 4.6875rem auto 0;
	width: 100%;
}

.p-single-works__body {
	margin: 1rem auto 0;
	width: 100%;
}

.p-single-works__item {
	margin-top: 2rem;
	width: 100%;
}

.p-single-works__info {
	align-items: center;
	display: flex;
	margin-top: 1.1875rem;
}

.p-single-works__label {
	margin-left: 1.5rem;
}

.p-single-works__title {
	color: #fff;
	display: inline-block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.04em;
}

.p-single-works__content {
	margin: 7.5rem auto 0;
}

.p-single-works__pagenation {
	margin-top: 5rem;
}

.p-single__mainbox {
	margin: 0 auto;
	max-width: 49.9375rem;
	width: 100%;
}

.p-single__header {
	margin-top: 4.6875rem;
	width: 100%;
}

.p-single__title {
	color: #fff;
	display: inline-block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0.04em;
}

.p-single__info {
	align-items: center;
	display: flex;
	margin-top: 1.1875rem;
}

.p-single__label {
	margin-left: 1.5rem;
}

.p-single__body {
	margin-top: 1rem;
	width: 100%;
}

.p-single__body figure {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 1rem;
	margin-top: 1rem;
	position: relative;
	width: calc(100% + 40px);
}

.p-single__body figure:before {
	content: "";
	display: block;
	padding-top: calc((251 / 375 ) * 100%);
}

.p-single__body img {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-single__body h2 {
	border-left: 3px solid #C4C4C4;
	font-size: 1.25rem;
	letter-spacing: 0.2em;
	margin-top: 1.5rem;
	padding-left: 0.5625rem;
}

.p-single__body h3 {
	border-bottom: 3px solid #fff;
	display: inline-block;
	font-size: 1.125rem;
	letter-spacing: 0.2em;
	margin-left: 0.75rem;
	margin-top: 1.5rem;
	position: relative;
}

.p-single__body h3:before {
	border-bottom: 3px solid #FFEA2E;
	bottom: -3px;
	content: "";
	left: 0;
	position: absolute;
	width: 33%;
}

.p-single__body P {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.04em;
	line-height: 2.0;
	margin-top: 1.5rem;
}

.p-single__body ul {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.04em;
	line-height: 2.0;
	list-style-position: inside;
	list-style-type: disc;
	margin-top: 1.5rem;
}

.p-single__body ol {
	color: #fff;
	counter-reset: count 0;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.04em;
	line-height: 2.0;
	margin-top: 1.5rem;
}

.p-single__body ol li::before {
	content: counter(count);
	counter-increment: count 1;
	margin-right: 1rem;
}

.p-single__thumbnail {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 1rem;
	margin-top: 1rem;
	position: relative;
	width: calc(100% + 40px);
}

.p-single__thumbnail::before {
	content: "";
	display: block;
	padding-top: calc((251 / 375 ) * 100%);
}

.p-single__thumbnail img {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-single__content {
	margin-top: 7.5rem;
}

.p-sp-footer-nav {
	background-color: #111;
	width: 100%;
}

.p-sp-footer-nav__items {
	width: 100%;
}

.p-sp-footer-nav__item a {
	color: #fff;
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.075rem;
	padding: 0.25rem 0;
	position: relative;
	text-align: center;
}

.p-sp-footer-nav__item a::after {
	background: #FFEA2E;
	bottom: 0.125rem;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: .3s;
	width: 0;
}

.p-sp-footer-nav__item a:hover:after {
	width: 20%;
}

.p-sp-global-nav {
	background-color: #111;
	display: none;
	height: 100vh;
	left: 0;
	overflow: scroll;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 8888;
}

.p-sp-global-nav.is-open {
	display: block;
}

.p-sp-global-nav__items {
	left: 0;
	padding-bottom: 6.25rem;
	padding-top: 13.0625rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-sp-global-nav__item a {
	color: #fff;
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.125rem;
	padding: 1rem 0;
	position: relative;
	text-align: center;
}

.p-sp-global-nav__item a::after {
	background: #FFEA2E;
	bottom: 0.5rem;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: .3s;
	width: 0;
}

.p-sp-global-nav__item a:hover:after {
	width: 20%;
}

.p-underlayer-mv {
	height: 100vw;
	width: 100%;
}

.p-underlayer-mv__container {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-underlayer-mv__container::after {
	background-color: rgba(17, 17, 17, 0.2);
	content: "";
	height: inherit;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.p-underlayer-mv__text {
	color: #fff;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 1.875rem;
	font-weight: 700;
	left: 50%;
	letter-spacing: 0.02em;
	line-height: 1.0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 5;
}

.u-hidden-tab {
	display: none;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.45455vw;
}

.l-contact-top {
	margin-top: 8.5625rem;
}

.l-content-top {
	margin-top: 10.75rem;
}

.l-footer-top {
	margin-top: 1.3125rem;
}

.l-inner {
	max-width: 1164px;
	padding-left: 32px;
	padding-right: 32px;
}

.l-news-archive {
	margin-top: 3.3125rem;
}

.l-news-top {
	margin-top: 2rem;
}

.l-single {
	margin-top: 4.6875rem;
}

.l-text-align-right {
	text-align: right;
}

.c-bg-line01::before {
	top: 34.5rem;
	transform: skewY(45deg);
}

.c-bg-line02::before {
	top: 24.1875rem;
	transform: skewY(-45deg);
}

.c-btn-all {
	background-color: #fff;
	border: none;
	color: #333;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0;
	padding: 0.25rem 1.125rem;
}

.c-btn-all::after {
	background-color: #333;
}

.c-btn-all:hover {
	color: #fff;
}

.c-btn-contact {
	letter-spacing: 0;
	max-width: 22.5rem;
	padding: 1.0625rem 0rem;
}

.c-btn-more {
	font-size: 1rem;
	letter-spacing: 0rem;
	max-width: 22.5rem;
	padding: 1.0625rem 0rem;
}

.c-img-link__wrapper {
	padding-top: calc((320 / 320) * 100%);
}

.c-img-link__wrapper a {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
}

.c-label-card-m {
	font-size: 0.875rem;
	padding: 0.1875rem 0.3125rem;
}

.c-label {
	font-size: 0.875rem;
}

.c-logo {
	width: 5.875rem;
}

.c-map__iframe::after {
	padding-top: calc((367 / 1100 ) * 100%);
}

.c-map__iframe iframe {
	height: 250%;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.c-wp-pagenavi--yellow span.current {
	background-color: #F9F871;
	border: 0.0625rem solid #F9F871;
	color: #333;
}

.p-page-404__wrapper {
	padding-bottom: 6.875rem;
	padding-top: 12.5rem;
}

.p-page-404__text {
	font-size: 1.875rem;
}

.p-archive-blog-mv {
	background-image: url(../img/archive-blog/archive-blog-mv-pc.jpg);
}

.p-archive-blog__contents {
	margin-top: 6.1875rem;
}

.p-archive-blog__content {
	margin-top: 2.5rem;
}

.p-archive-news-mv {
	background-image: url(../img/archive-news/archive-news-mv-pc.jpg);
}

.p-archive-news__inner {
	padding: 0 32px;
}

.p-archive-works-mv {
	background-image: url(../img/archive-works/archive-works-mv-pc.jpg);
}

.p-archive-works__contents {
	margin-top: 6.1875rem;
}

.p-archive-works__content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	max-width: 68.75rem;
}

.p-card-large__img {
	margin: 1rem auto;
	width: 100%;
}

.p-card-large__img::before {
	padding-top: calc((349 / 525 ) * 100%);
}

.p-card-medium__info {
	padding: 1.0625rem 1.4375rem 1rem;
}

.p-cards-2 {
	display: flex;
	flex-wrap: wrap;
}

.p-cards-2__item {
	margin: 0;
	width: calc(50% - 3rem * 1 / 2);
}

.p-cards-2__item + .p-cards-2__item {
	margin-left: 3rem;
	margin-top: 0;
}

.p-cards-2__item:nth-child(2n + 1) {
	margin-left: 0;
}

.p-cards-2__item:nth-child(n + 3),
.p-cards-2__item:nth-child(n + 4) {
	margin-top: 7.125rem;
}

.p-cards-3 {
	display: flex;
	flex-wrap: wrap;
}

.p-cards-3__item {
	margin: 0;
	max-width: calc((100% - 1.5625rem * 2) / 3);
}

.p-cards-3__item + .p-cards-3__item {
	margin-left: 1.5625rem;
	margin-top: 0;
}

.p-cards-3__item:nth-child(3n + 1) {
	margin-left: 0;
}

.p-cards-3__item:nth-child(n + 4) {
	margin-top: 1.5rem;
}

.p-category-list__item {
	padding: 0.1875rem 0.625rem;
}

.p-category-list__item + .p-category-list__item {
	margin-left: 1.875rem;
}

.p-company-info__block {
	align-items: center;
	font-size: 1rem;
	padding: 1.875rem 0 1.75rem;
}

.p-company-info__description {
	letter-spacing: 0.1em;
	margin-left: 6.125rem;
}

.p-contact {
	padding-bottom: 9.3125rem;
	padding-top: 5.6875rem;
}

.p-contact__header .p-section-head__title-ja {
	padding-top: 5.3125rem;
}

.p-contact__header .p-section-head__title-en {
	bottom: 0;
}

.p-contact__content p {
	margin-top: 1rem;
	text-align: center;
}

.p-contact__btn {
	margin-top: 3.625rem;
}

.p-content__contents {
	display: flex;
}

.p-footer__inner {
	max-width: 82rem;
	padding-left: 32px;
	padding-right: 0;
}

.p-footer__contents {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.p-footer__logo {
	margin: 0;
}

.p-footer__copyright {
	font-size: 0.9375rem;
	margin-bottom: 1.9375rem;
	margin-top: 4.0625rem;
}

.p-header__inner {
	padding-left: 32px;
	padding-right: 0;
}

.p-header__drawer {
	display: none;
}

.p-media {
	display: flex;
	max-width: 72.125rem;
}

.p-media__img {
	margin: 1rem auto;
	width: 100%;
}

.p-media__img::before {
	padding-top: calc((349 / 525 ) * 100%);
}

.p-media__body {
	margin-left: 1.875rem;
	margin-right: 0;
}

.p-media__title {
	font-size: 1.5625rem;
	letter-spacing: 0.03125rem;
	margin-top: 1.25rem;
	text-align: left;
}

.p-media__text {
	letter-spacing: 0.03125rem;
	line-height: 2.0;
	margin-top: 2.5rem;
}

.p-mv {
	height: 66.48438vw;
}

.p-mv__title {
	font-size: 3.125rem;
}

.p-mv__sub-title {
	font-size: 1.5625rem;
}

.p-news__inner {
	padding: 0 32px;
}

.p-news__contents {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.p-news__btn {
	margin: 0;
}

.p-page-content-mv {
	background-image: url(../img/page-content/page-content-mv-pc.jpg);
}

.p-page-content-top {
	margin-top: 2.5625rem;
}

.p-page-content__title {
	font-size: 1.5625rem;
}

.p-page-content__text {
	line-height: 2.0;
}

.p-page-content__contents {
	margin-top: 9.375rem;
}

.p-page-content__item:nth-child(2n) {
	flex-direction: row-reverse;
}

.p-page-content__item:nth-child(2n) .p-media__body {
	margin-left: 0;
	margin-right: 1.875rem;
}

.p-page-content__item + .p-page-content__item {
	margin-top: 6.5rem;
}

.p-page-overview-mv {
	background-image: url(../img/page-overview/page-overview-mv-pc.jpg);
}

.p-page-overview__info {
	margin-top: 6.3125rem;
}

.p-page-overview__map {
	margin: 5rem auto 0;
	max-width: 72.75rem;
	padding: 0 32px;
	width: 100%;
}

.p-page-top-scroll__btn {
	bottom: 2rem;
	right: 1.9375rem;
}

.p-pagenation {
	margin-top: 6.5rem;
}

.p-pc-footer-nav {
	display: block;
}

.p-pc-global-nav {
	display: block;
}

.p-post-head {
	width: 18rem;
}

.p-post-head__label {
	margin-left: 1.8125rem;
}

.p-post {
	align-items: center;
	display: flex;
	width: 53.75rem;
}

.p-section-head {
	max-width: 72.75rem;
	padding: 0;
}

.p-section-head__title-en {
	font-size: 6.875rem;
	margin-bottom: -7.9375rem;
	text-align: left;
}

.p-section-head__title-ja {
	font-size: 1.875rem;
	padding-bottom: 2.25rem;
	padding-top: 2.75rem;
}

.p-single-works__contents {
	margin-top: 6.1875rem;
}

.p-single-works__item {
	margin-top: 2rem;
}

.p-single-works__title {
	font-size: 1.4375rem;
}

.p-single-works__pagenation {
	margin-top: 6.5rem;
}

.p-single__title {
	font-size: 1.4375rem;
}

.p-single__body figure {
	margin: 1rem auto;
	width: 100%;
}

.p-single__body figure:before {
	padding-top: calc((427 / 799 ) * 100%);
}

.p-single__body h2 {
	margin-top: 2rem;
}

.p-single__body h3 {
	margin-top: 2rem;
}

.p-single__body P {
	margin-top: 2rem;
}

.p-single__body ul {
	margin-top: 2rem;
}

.p-single__body ol {
	margin-top: 2rem;
}

.p-single__thumbnail {
	margin: 1rem auto;
	width: 100%;
}

.p-single__thumbnail::before {
	padding-top: calc((427 / 799 ) * 100%);
}

.p-sp-footer-nav {
	display: none;
}

.p-underlayer-mv {
	height: 28.90625vw;
}

.p-underlayer-mv__text {
	font-size: 2.1875rem;
}

.u-hidden-tab {
	display: block;
}

}

@media screen and (min-width: 844px) {

.c-btn-all {
	padding: 0.25rem 1.375rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1100px) {

.c-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1280px) {

.c-test {
	color: brown;
}

}

@-webkit-keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

@keyframes zoomUp {

0% {
	transform: scale(1);
}

100% {
	transform: scale(1.15);
}

}

