.p-archive-blog-mv{
  width: 100%;
  background-image: url(../img/archive-blog/archive-blog-mv-sp2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 40% left 50%;
  
  @include mq("tab"){
    background-image: url(../img/archive-blog/archive-blog-mv-pc2.jpg);
    
  }

}