.p-archive-news-mv{
  width: 100%;
  background-image: url(../img/archive-news/archive-news-mv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  @include mq("tab"){
    background-image: url(../img/archive-news/archive-news-mv-pc.jpg);
  }
}