.p-archive-works__contents{
  margin-top: rem(69);
  
  @include mq("tab"){
    margin-top: rem(99);
    
  }
}

.p-archive-works__content{
  width: 100%;
  margin-top: rem(37);
  
  @include mq("tab"){
    max-width: rem(1100);
    margin-top: rem(40);
    margin-left: auto;
    margin-right: auto;
    
  }
}

// .p-archive-works__pagenation{
//   margin-top: rem(80);

//   @include mq("tab"){
//     margin-top: rem(104);
//   }
// }