.p-archive-works-mv{
  width: 100%;
  background-image: url(../img/archive-works/archive-works-mv-sp2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 30% left 50%;
  
  @include mq("tab"){
    background-image: url(../img/archive-works/archive-works-mv-pc2.jpg);
  
  }
}