.p-cards-3{
  width: 100%;

  @include mq("tab"){ 
    display: flex;
    flex-wrap: wrap;
  }
}

.p-cards-3__item{
  position: relative;
  width: 100%;
  max-width: rem(540);
  margin: 0 auto;

  @include mq("tab"){
    max-width: calc((100% - #{rem(25)} * 2) / 3);
    margin: 0;
  }
}

.p-cards-3__item + .p-cards-3__item{
  margin-top: rem(24);

  @include mq("tab"){
    margin-top: 0;
    margin-left: rem(25);
  }
}

.p-cards-3__item:nth-child(3n + 1){
  @include mq("tab"){
    margin-left: 0;
  }
}

.p-cards-3__item:nth-child(n + 4){
  @include mq("tab"){
    margin-top: rem(24);
  }
}