.p-category-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(-16);
  @include mq("tab"){
    margin-top: 0;
  }
}

.p-category-list__item{
  margin-right: rem(8);
  
  @include mq("tab"){
    margin-right: rem(30);
  }
}

.p-category-list__item a{
  display: block;
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: rem(1);
  color: $white;
  text-transform: uppercase;
  padding: rem(3) rem(8);
  margin-top: rem(16);
  
  @include mq("tab"){
    padding: rem(3) rem(10);
    margin-top: 0;
  }
}

.p-category-list__item a.current{
  background-color: $white;
  color: $black;
}

