.p-form{
  width: 100%;
  max-width: rem(696);
}

.p-form__item{
  width: 100%;
  max-width: rem(540);
  margin: 0 auto;
  
  @include mq("tab"){
    max-width: rem(710);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


.p-form__item:nth-child(6){
  
  @include mq("tab"){
    align-items: flex-start;
  }
}

.p-form__item:nth-child(6) .p-form__title{
  
  @include mq("tab"){
    margin-top: rem(11);
  }
}

.p-form__item + .p-form__item{
  margin-top: rem(32);
  
  @include mq("tab"){
    margin-top: rem(45);
  }
}


.p-form__item textarea{
  height: rem(300);
}

.p-form__title{
  width: rem(132);
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $regular;
  // letter-spacing: 0.07em;
  color: $white;

  @include mq("tab"){
    text-align: right;
  }
}

.p-form__input{
  display: block;
  width: 100%;
  max-width: rem(540);
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $regular;
  letter-spacing: 0.07em;
  color: $black;
  background-color: $white;
  padding: rem(12) rem(9) rem(12);
  margin-top: rem(16);
  
  @include mq("tab"){
    padding: rem(9) rem(16) rem(10);
    margin-top: 0;
    margin-left: rem(24);
  }
}

.p-form__input input::placeholder,
.p-form__input textarea::placeholder{
    color: #979797;
}

.p-form__btn{
  width: 100%;
  max-width: rem(540);
  margin: rem(48) auto 0;
  
  @include mq("tab"){
    text-align: right;
    margin-top: rem(56);
    margin-right: rem(90);
  }
}

.p-form__error{
  width: 100%;
  height: rem(69);
  position: relative;
  text-align: center;
  
  @include mq("tab"){
    height: rem(99);
    text-align: right;
  }
}

.mw_wp_form .error{
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: 0.2em;
  color: #FF5757;

  @include mq("tab"){
    margin-right: 20px;
  }
}
