.p-header{
  width: 100%;
  height: rem(50);
  background-color: #111;
  
}

.p-header.bg-opacity{
  background-color: rgba(17, 17, 17, 0.5);
}

.p-header__inner{
  width: 100%;
  max-width: rem(1312);
  height: inherit;
  padding: 0 $padding-sp;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;

  @include mq("tab"){
    padding-left: $padding-pc;
    padding-right: 0;
  }

}

.p-header__drawer{
  height: inherit;
  padding: 0;
  @include mq("tab"){
    display: none;
  }
}