.p-page-overview-mv{
  width: 100%;
  background-image: url(../img/page-overview/page-overview-mv-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  @include mq("tab"){
    background-image: url(../img/page-overview/page-overview-mv-pc.jpg);
    
  }
}