.p-pc-footer-nav{
  display: none;

  @include mq("tab"){
    display: block;
  }
}

.p-pc-footer-nav__items{
  height: rem(50);
  display: flex;
  align-items: center;

}

.p-pc-footer-nav__item{
  height: inherit;
  
}

.p-pc-footer-nav__item:last-child a{
  margin-right: rem(16);
}

.p-pc-footer-nav__item a{
  height: inherit;
  padding-left: rem(16);
  padding-right: rem(16);
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  letter-spacing: rem(2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.p-pc-footer-nav__item a::after{
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: #FFEA2E;
  position: absolute;
  bottom: rem(0);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
}

.p-pc-footer-nav__item a:hover:after{
  width: calc(100% - #{rem(32)});
}