.p-post-head{
  width: 100%;
  display: flex;
  align-items: center;

  @include mq("tab"){
    width: rem(288);
  }
}

.p-post-head__label{
  margin-left: rem(29);
  
  @include mq("tab"){
    margin-left: rem(29);
  }
}