.p-pc-global-nav{
  display: none;
  height: inherit;

  @include mq("tab"){
    display: block;
  }
}

.p-pc-global-nav__items{
  height: inherit;
  display: flex;
  align-items: center;
  
}

.p-pc-global-nav__item{
  height: inherit;
}

.p-pc-global-nav__item a{
  height: inherit;
  padding: 0 rem(16);
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.p-pc-global-nav__item a::after{
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: #FFEA2E;
  position: absolute;
  bottom: rem(8);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
}

.p-pc-global-nav__item a:hover:after{
  width: calc(100% - #{rem(32)});
}

.p-pc-global-nav__item:last-of-type a{
  background-color: $white;
  color: $black;
  padding: 0 rem(32);
  margin-left: rem(16);
}

.p-pc-global-nav__item:last-of-type a:hover{
  background-color: $black;
  color: $white;
}
