.p-recommend-article{
  width: 100%;
  max-width: rem(1164);
}

.p-recommend-article__content{
  margin-top: rem(32);
  
  @include mq("tab"){
    margin-top: rem(80);
  }
}

.p-recommend-article__title{
  width: 100%;
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: rem(2);
  color: $white;
  background-color: $black2;
  border: rem(1) solid $white;
  padding: rem(8) rem(0);
  text-align: center;
  
  @include mq("tab"){
    padding: rem(7) rem(0);
    background-color: $black;
  }
}