.p-single__mainbox{
  width: 100%;
  max-width: rem(799);
  margin: 0 auto;
}

.p-single__header{
  width: 100%;
  margin-top: rem(75);
}

.p-single__title{
  font-family: $base-font-family;
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: 0.04em;
  color: $white;
  display: inline-block;
  
  @include mq("tab"){
    font-size: rem(23);
  }
}

.p-single__info{
  display: flex;
  align-items: center;
  margin-top: rem(19);
}

.p-single__label{
  margin-left: rem(24);
}

.p-single__body{
  width: 100%;
  margin-top: rem(16);
  

  figure {
    margin-top: rem(16);
    position: relative;
    margin-top: rem(16);
    // 画面幅いっぱいにはみ出させる
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
    overflow: hidden;
    
    @include mq("tab"){
      width: 100%;
      margin: rem(16) auto;
    }
  }

  figure:before{
    content: "";
    display: block;
    padding-top: calc((251 / 375 ) * 100%);
    
    @include mq("tab"){
      padding-top: calc((427 / 799 ) * 100%);
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  // .p-single__title--h2{
  //   font-size: rem(20);
  //   letter-spacing: 0.2em;
  //   border-left: 3px solid #C4C4C4;
  //   padding-left: rem(9);
  // }
  // ↓↓↓↓
  h2 {
    font-size: rem(20);
    letter-spacing: 0.2em;
    border-left: 3px solid #C4C4C4;
    padding-left: rem(9);
    margin-top: rem(24);
  
    @include mq("tab"){
      margin-top: rem(32);
    }
  }
  
  // .p-single__title--h3{
  //   font-size: rem(18);
  //   letter-spacing: 0.2em;
  //   display: inline-block;
  //   border-bottom: 3px solid $white;
  //   margin-left: rem(12);
  //   position: relative;
  // }
  // ↓↓↓↓
  h3 {
    font-size: rem(18);
    letter-spacing: 0.2em;
    display: inline-block;
    border-bottom: 3px solid $white;
    // margin-left: rem(12);
    position: relative;
    margin-top: rem(24);
  
    @include mq("tab"){
      margin-top: rem(32);
    }
  }
  
  // .p-single__title--h3::after{
  //   content: "";
  //   width: 33%;
  //   border-bottom: 3px solid #FFEA2E;
  //   position: absolute;
  //   bottom: -3px;
  //   left: 0;
  // }
  // ↓↓↓↓
  h3:before{
    content: "";
    width: 33%;
    border-bottom: 3px solid #FFEA2E;
    position: absolute;
    bottom: -3px;
    left: 0;
  }

  // .p-single__text{
  //   font-family: $base-font-family;
  //   font-size: rem(16);
  //   font-weight: $regular;
  //   letter-spacing: 0.04em;
  //   color: $white;
  //   line-height: 2.0;
  // }
  // ↓↓↓↓
  P {
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.04em;
    color: $white;
    line-height: 2.0;
    margin-top: rem(24);
  
    @include mq("tab"){
      margin-top: rem(32);
    }
  }
  
  // .p-single__list-dot{
  //   font-family: $base-font-family;
  //   font-size: rem(16);
  //   font-weight: $regular;
  //   letter-spacing: 0.04em;
  //   color: $white;
  //   line-height: 2.0;
  //   list-style-type: disc;
  //   list-style-position: inside;
  // }
  // ↓↓↓↓
  ul{
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.04em;
    color: $white;
    line-height: 2.0;
    list-style-type: disc;
    list-style-position: inside;
    margin-top: rem(24);
  
    @include mq("tab"){
      margin-top: rem(32);
    }
  }

  // .p-single__list-number{
  //   font-family: $base-font-family;
  //   font-size: rem(16);
  //   font-weight: $regular;
  //   letter-spacing: 0.04em;
  //   color: $white;
  //   line-height: 2.0;
  //   // list-style-type: decimal;
  //   // list-style-position: inside;
  // // 数字のリストのピリオド無し
  //   counter-reset: count 0;
  // }
  // ↓↓↓↓
  ol {
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.04em;
    color: $white;
    line-height: 2.0;
    // list-style-type: decimal;
    // list-style-position: inside;
  // 数字のリストのピリオド無し
    counter-reset: count 0;
    margin-top: rem(24);
  
    @include mq("tab"){
      margin-top: rem(32);
    }

    // .p-single__list-number li::before{
    //   content: counter(count);
    //   counter-increment: count 1;
    //   margin-right: rem(16);
    // }
    li::before{
      content: counter(count);
      counter-increment: count 1;
      margin-right: rem(16);
    }
  }

}
//下記は各要素に追加した 
// .p-single__item{
//   margin-top: rem(24);
  
//   @include mq("tab"){
//     margin-top: rem(32);
//   }
// }

  
.p-single__thumbnail{
  margin-top: rem(16);
  position: relative;
  margin-top: rem(16);
  // 画面幅いっぱいにはみ出させる
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  overflow: hidden;
  
  @include mq("tab"){
    width: 100%;
    margin: rem(16) auto;
  }
}

.p-single__thumbnail::before{
  content: "";
  display: block;
  padding-top: calc((251 / 375 ) * 100%);
  
  @include mq("tab"){
    padding-top: calc((427 / 799 ) * 100%);
  }
}

.p-single__thumbnail img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.p-single__content{
  margin-top: rem(120);
}

// .p-single__pagenation{
//   margin-top: rem(80);

//   @include mq("tab"){
//     margin-top: rem(104);
//   }
// }