.p-top-overview{
  width: 100%;
}

.p-top-overview__wrapper{
  background: linear-gradient(0deg, $black 0%, $black 80%, transparent 80%, transparent 100%);
  padding-bottom: rem(21);
  position: relative;
  z-index: 1;

  @include mq("tab"){
    background: linear-gradient(90deg, $black 0%, $black 70%, transparent 70%, transparent 100%);
    padding-top: rem(81);
    padding-bottom: rem(80);
  }
}

.p-top-overview .p-top-media__items{

  @include mq("tab"){
    display: flex;
    flex-direction: row-reverse;
  }
}

.p-top-overview .p-top-media__item{
  @include mq("tab"){
    margin: 0 rem(32) 0 0;
  }
}