.p-top-works{
  width: 100%;
}

.p-top-works__wrapper{
  background: linear-gradient(0deg, $black 0%, $black 80%, transparent 80%, transparent 100%);
  padding-bottom: rem(21);
  position: relative;
  z-index: 1;

  @include mq("tab"){
    background: linear-gradient(90deg, transparent 0%, transparent 30%, $black 30%, $black 100%);
    padding-top: rem(81);
    padding-bottom: rem(56);
  }
}

.p-top-works__contents{
  width: 100%;
  max-width: rem(517);
  margin: 0 auto;
  padding: 0 $padding-sp;

  @include mq("tab"){
    max-width: rem(1164);
    display: flex;
    align-items: center;
    align-items: flex-start;
    padding: 0 $padding-pc;
  }
}

.p-top-works__img{
  width: 100%;
  max-width: rem(557);
  // 画面幅いっぱいにはみ出させる
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);

  @include mq("tab"){
    width: 100%;
    margin: 0 auto;
  }
}


.p-top-works__body{
  width: 100%;
  max-width: rem(510);
  margin: 0 auto;

  @include mq("tab"){
    margin: 0 0 0 rem(32);
    padding: 0;
  }
}

.p-top-works__title{
  font-family: $base-font-family;
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: 0.1em;
  color: $white;
  text-align: center;
  // margin-left: 18px;
  
  @include mq("tab"){
    font-size: rem(25);
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 0;
    margin-top: rem(27);
  }
}

.p-top-works__text{
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.44;
  letter-spacing: 0.12em;
  color: $white;
  margin-top: rem(21);
  
  @include mq("tab"){
    text-align: left;
    margin-top: rem(37);
    line-height: 2.1;
    letter-spacing: 0.03em;
  }
}

.p-top-works__btn{
  text-align: center;
  margin-top: rem(27);

  @include mq("tab"){
    text-align: left;
    margin-top: rem(48);
  }

}