// 色
$background: #111; // 背景
// $background-white: #fff; // 背景白
// $background-black: #333; // 背景白
$text-color: #fff; // テキスト色
// $text-color-black: #333; // テキスト色-黒
$black: #333;
$black2: #111;
$white: #fff;

// マウスホバー
$opacity: 0.7; // 透過度
$hover-opacity: 0.8;

// フォント
$base-font-family: "Noto Sans JP",sans-serif;// ベースフォント
$second-font-family: "Noto Serif JP",serif;// ベースフォント
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト

/* font-weight */
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1280px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);

$padding-pc: 32px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
