
.u-hidden-pc {
	// PC時に非表示

	@include mq("pc") {
		display: none;
	}
}


.u-hidden-sp {
	// スマホ時に非表示

	@include mq("sp") {
		display: none;
	}
}

.u-hidden-tab{
	// タブレット以下は非表示
	display: none;

	@include mq("tab") {
		display: block;
	}
}

//デスクトップのみ表示
.u-desktop {
  display: none;
  @include mq("tab") {
    display: block;
  }
}

//モバイルのみ表示
.u-mobile {
  @include mq("tab") {
    display: none;
  }
}
